<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="4">
    <listeners>
        <listener class-name="com.orange.listeners.TestListeners"/>
        <listener class-name="com.orange.listeners.RetryTestListener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/yogeshgheu/Documents/Testing/OrangeHrmAutomationSuite">
        <classes>
            <class name="com.orange.tests.login.LoginTest">
                <methods>
                    <include name="testLoginWithValidCredentials"/>
                    <include name="testLoginWithInvalidCredentials"/>
                    <include name="testLoginWithBlankCredentials"/>
                    <include name="testLoginWithUserNameAndBlankPassword"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>